@keyframes spin3d {
1%   {-webkit-transform: rotate3d(1, 1, 1, 286deg); transform: rotate3d(1, 1, 1, 228deg);}
2%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 202deg);}
3%   {-webkit-transform: rotate3d(1, 1, 1, 70deg); transform: rotate3d(1, 1, 1, 229deg);}
4%   {-webkit-transform: rotate3d(1, 1, 1, 309deg); transform: rotate3d(1, 1, 1, 190deg);}
5%   {-webkit-transform: rotate3d(1, 1, 1, 335deg); transform: rotate3d(1, 1, 1, 65deg);}
6%   {-webkit-transform: rotate3d(1, 1, 1, 221deg); transform: rotate3d(1, 1, 1, 217deg);}
7%   {-webkit-transform: rotate3d(1, 1, 1, 226deg); transform: rotate3d(1, 1, 1, 336deg);}
8%   {-webkit-transform: rotate3d(1, 1, 1, 298deg); transform: rotate3d(1, 1, 1, 185deg);}
9%   {-webkit-transform: rotate3d(1, 1, 1, 54deg); transform: rotate3d(1, 1, 1, 19deg);}
10%   {-webkit-transform: rotate3d(1, 1, 1, 63deg); transform: rotate3d(1, 1, 1, 9deg);}
11%   {-webkit-transform: rotate3d(1, 1, 1, 104deg); transform: rotate3d(1, 1, 1, 35deg);}
12%   {-webkit-transform: rotate3d(1, 1, 1, 134deg); transform: rotate3d(1, 1, 1, 239deg);}
13%   {-webkit-transform: rotate3d(1, 1, 1, 58deg); transform: rotate3d(1, 1, 1, 285deg);}
14%   {-webkit-transform: rotate3d(1, 1, 1, 328deg); transform: rotate3d(1, 1, 1, 212deg);}
15%   {-webkit-transform: rotate3d(1, 1, 1, 185deg); transform: rotate3d(1, 1, 1, 252deg);}
16%   {-webkit-transform: rotate3d(1, 1, 1, 350deg); transform: rotate3d(1, 1, 1, 297deg);}
17%   {-webkit-transform: rotate3d(1, 1, 1, 265deg); transform: rotate3d(1, 1, 1, 304deg);}
18%   {-webkit-transform: rotate3d(1, 1, 1, 329deg); transform: rotate3d(1, 1, 1, 140deg);}
19%   {-webkit-transform: rotate3d(1, 1, 1, 35deg); transform: rotate3d(1, 1, 1, 53deg);}
20%   {-webkit-transform: rotate3d(1, 1, 1, 163deg); transform: rotate3d(1, 1, 1, 302deg);}
21%   {-webkit-transform: rotate3d(1, 1, 1, 315deg); transform: rotate3d(1, 1, 1, 356deg);}
22%   {-webkit-transform: rotate3d(1, 1, 1, 125deg); transform: rotate3d(1, 1, 1, 24deg);}
23%   {-webkit-transform: rotate3d(1, 1, 1, 276deg); transform: rotate3d(1, 1, 1, 96deg);}
24%   {-webkit-transform: rotate3d(1, 1, 1, 301deg); transform: rotate3d(1, 1, 1, 54deg);}
25%   {-webkit-transform: rotate3d(1, 1, 1, 143deg); transform: rotate3d(1, 1, 1, 141deg);}
26%   {-webkit-transform: rotate3d(1, 1, 1, 223deg); transform: rotate3d(1, 1, 1, 72deg);}
27%   {-webkit-transform: rotate3d(1, 1, 1, 240deg); transform: rotate3d(1, 1, 1, 120deg);}
28%   {-webkit-transform: rotate3d(1, 1, 1, 297deg); transform: rotate3d(1, 1, 1, 78deg);}
29%   {-webkit-transform: rotate3d(1, 1, 1, 144deg); transform: rotate3d(1, 1, 1, 91deg);}
30%   {-webkit-transform: rotate3d(1, 1, 1, 60deg); transform: rotate3d(1, 1, 1, 256deg);}
31%   {-webkit-transform: rotate3d(1, 1, 1, 182deg); transform: rotate3d(1, 1, 1, 342deg);}
32%   {-webkit-transform: rotate3d(1, 1, 1, 105deg); transform: rotate3d(1, 1, 1, 65deg);}
33%   {-webkit-transform: rotate3d(1, 1, 1, 114deg); transform: rotate3d(1, 1, 1, 87deg);}
34%   {-webkit-transform: rotate3d(1, 1, 1, 320deg); transform: rotate3d(1, 1, 1, 33deg);}
35%   {-webkit-transform: rotate3d(1, 1, 1, 292deg); transform: rotate3d(1, 1, 1, 1deg);}
36%   {-webkit-transform: rotate3d(1, 1, 1, 10deg); transform: rotate3d(1, 1, 1, 248deg);}
37%   {-webkit-transform: rotate3d(1, 1, 1, 46deg); transform: rotate3d(1, 1, 1, 230deg);}
38%   {-webkit-transform: rotate3d(1, 1, 1, 43deg); transform: rotate3d(1, 1, 1, 73deg);}
39%   {-webkit-transform: rotate3d(1, 1, 1, 136deg); transform: rotate3d(1, 1, 1, 192deg);}
40%   {-webkit-transform: rotate3d(1, 1, 1, 189deg); transform: rotate3d(1, 1, 1, 97deg);}
41%   {-webkit-transform: rotate3d(1, 1, 1, 330deg); transform: rotate3d(1, 1, 1, 193deg);}
42%   {-webkit-transform: rotate3d(1, 1, 1, 247deg); transform: rotate3d(1, 1, 1, 202deg);}
43%   {-webkit-transform: rotate3d(1, 1, 1, 190deg); transform: rotate3d(1, 1, 1, 258deg);}
44%   {-webkit-transform: rotate3d(1, 1, 1, 303deg); transform: rotate3d(1, 1, 1, 287deg);}
45%   {-webkit-transform: rotate3d(1, 1, 1, 76deg); transform: rotate3d(1, 1, 1, 193deg);}
46%   {-webkit-transform: rotate3d(1, 1, 1, 135deg); transform: rotate3d(1, 1, 1, 349deg);}
47%   {-webkit-transform: rotate3d(1, 1, 1, 102deg); transform: rotate3d(1, 1, 1, 347deg);}
48%   {-webkit-transform: rotate3d(1, 1, 1, 12deg); transform: rotate3d(1, 1, 1, 5deg);}
49%   {-webkit-transform: rotate3d(1, 1, 1, 183deg); transform: rotate3d(1, 1, 1, 231deg);}
50%   {-webkit-transform: rotate3d(1, 1, 1, 206deg); transform: rotate3d(1, 1, 1, 244deg);}
51%   {-webkit-transform: rotate3d(1, 1, 1, 148deg); transform: rotate3d(1, 1, 1, 288deg);}
52%   {-webkit-transform: rotate3d(1, 1, 1, 30deg); transform: rotate3d(1, 1, 1, 159deg);}
53%   {-webkit-transform: rotate3d(1, 1, 1, 43deg); transform: rotate3d(1, 1, 1, 299deg);}
54%   {-webkit-transform: rotate3d(1, 1, 1, 130deg); transform: rotate3d(1, 1, 1, 84deg);}
55%   {-webkit-transform: rotate3d(1, 1, 1, 37deg); transform: rotate3d(1, 1, 1, 84deg);}
56%   {-webkit-transform: rotate3d(1, 1, 1, 305deg); transform: rotate3d(1, 1, 1, 106deg);}
57%   {-webkit-transform: rotate3d(1, 1, 1, 24deg); transform: rotate3d(1, 1, 1, 141deg);}
58%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 180deg);}
59%   {-webkit-transform: rotate3d(1, 1, 1, 145deg); transform: rotate3d(1, 1, 1, 180deg);}
60%   {-webkit-transform: rotate3d(1, 1, 1, 108deg); transform: rotate3d(1, 1, 1, 348deg);}
61%   {-webkit-transform: rotate3d(1, 1, 1, 69deg); transform: rotate3d(1, 1, 1, 18deg);}
62%   {-webkit-transform: rotate3d(1, 1, 1, 132deg); transform: rotate3d(1, 1, 1, 113deg);}
63%   {-webkit-transform: rotate3d(1, 1, 1, 87deg); transform: rotate3d(1, 1, 1, 283deg);}
64%   {-webkit-transform: rotate3d(1, 1, 1, 358deg); transform: rotate3d(1, 1, 1, 350deg);}
65%   {-webkit-transform: rotate3d(1, 1, 1, 334deg); transform: rotate3d(1, 1, 1, 209deg);}
66%   {-webkit-transform: rotate3d(1, 1, 1, 121deg); transform: rotate3d(1, 1, 1, 141deg);}
67%   {-webkit-transform: rotate3d(1, 1, 1, 48deg); transform: rotate3d(1, 1, 1, 336deg);}
68%   {-webkit-transform: rotate3d(1, 1, 1, 31deg); transform: rotate3d(1, 1, 1, 292deg);}
69%   {-webkit-transform: rotate3d(1, 1, 1, 212deg); transform: rotate3d(1, 1, 1, 140deg);}
70%   {-webkit-transform: rotate3d(1, 1, 1, 113deg); transform: rotate3d(1, 1, 1, 111deg);}
71%   {-webkit-transform: rotate3d(1, 1, 1, 176deg); transform: rotate3d(1, 1, 1, 270deg);}
72%   {-webkit-transform: rotate3d(1, 1, 1, 33deg); transform: rotate3d(1, 1, 1, 96deg);}
73%   {-webkit-transform: rotate3d(1, 1, 1, 263deg); transform: rotate3d(1, 1, 1, 235deg);}
74%   {-webkit-transform: rotate3d(1, 1, 1, 337deg); transform: rotate3d(1, 1, 1, 146deg);}
75%   {-webkit-transform: rotate3d(1, 1, 1, 60deg); transform: rotate3d(1, 1, 1, 169deg);}
76%   {-webkit-transform: rotate3d(1, 1, 1, 197deg); transform: rotate3d(1, 1, 1, 203deg);}
77%   {-webkit-transform: rotate3d(1, 1, 1, 228deg); transform: rotate3d(1, 1, 1, 69deg);}
78%   {-webkit-transform: rotate3d(1, 1, 1, 281deg); transform: rotate3d(1, 1, 1, 203deg);}
79%   {-webkit-transform: rotate3d(1, 1, 1, 289deg); transform: rotate3d(1, 1, 1, 215deg);}
80%   {-webkit-transform: rotate3d(1, 1, 1, 61deg); transform: rotate3d(1, 1, 1, 35deg);}
81%   {-webkit-transform: rotate3d(1, 1, 1, 138deg); transform: rotate3d(1, 1, 1, 133deg);}
82%   {-webkit-transform: rotate3d(1, 1, 1, 346deg); transform: rotate3d(1, 1, 1, 337deg);}
83%   {-webkit-transform: rotate3d(1, 1, 1, 25deg); transform: rotate3d(1, 1, 1, 176deg);}
84%   {-webkit-transform: rotate3d(1, 1, 1, 148deg); transform: rotate3d(1, 1, 1, 113deg);}
85%   {-webkit-transform: rotate3d(1, 1, 1, 50deg); transform: rotate3d(1, 1, 1, 102deg);}
86%   {-webkit-transform: rotate3d(1, 1, 1, 168deg); transform: rotate3d(1, 1, 1, 54deg);}
87%   {-webkit-transform: rotate3d(1, 1, 1, 127deg); transform: rotate3d(1, 1, 1, 264deg);}
88%   {-webkit-transform: rotate3d(1, 1, 1, 28deg); transform: rotate3d(1, 1, 1, 43deg);}
89%   {-webkit-transform: rotate3d(1, 1, 1, 243deg); transform: rotate3d(1, 1, 1, 277deg);}
90%   {-webkit-transform: rotate3d(1, 1, 1, 338deg); transform: rotate3d(1, 1, 1, 252deg);}
91%   {-webkit-transform: rotate3d(1, 1, 1, 122deg); transform: rotate3d(1, 1, 1, 167deg);}
92%   {-webkit-transform: rotate3d(1, 1, 1, 97deg); transform: rotate3d(1, 1, 1, 339deg);}
93%   {-webkit-transform: rotate3d(1, 1, 1, 346deg); transform: rotate3d(1, 1, 1, 17deg);}
94%   {-webkit-transform: rotate3d(1, 1, 1, 76deg); transform: rotate3d(1, 1, 1, 277deg);}
95%   {-webkit-transform: rotate3d(1, 1, 1, 14deg); transform: rotate3d(1, 1, 1, 202deg);}
96%   {-webkit-transform: rotate3d(1, 1, 1, 200deg); transform: rotate3d(1, 1, 1, 323deg);}
97%   {-webkit-transform: rotate3d(1, 1, 1, 304deg); transform: rotate3d(1, 1, 1, 198deg);}
98%   {-webkit-transform: rotate3d(1, 1, 1, 246deg); transform: rotate3d(1, 1, 1, 170deg);}
99%   {-webkit-transform: rotate3d(1, 1, 1, 40deg); transform: rotate3d(1, 1, 1, 103deg);}
100%   {-webkit-transform: rotate3d(1, 1, 1, 190deg); transform: rotate3d(1, 1, 1, 349deg);}
}
